.location {

    .wrapper {
        width: 690px;

        .direction {
            width: 344.5px;
            padding-top: 55px;
            padding-left: 13px;

            h1 {
                margin-bottom: 82px;
                margin-left: -6px;
            }

            p {
                margin-left: -6px;
                padding: 0 89px;
                padding-bottom: 20px;
            }

            a {
                margin-left: -8px;
            }

            .footericons {

                a {
                    margin-left: -4px;
                }
            }

            &::after {
                top: 115px;
                left: 155px;
                box-shadow: 0 0 0 2000px $color-13;
            }

            &::before {
                left: 165px;
            }
        }
    }
}
