.gallery {
    padding: 46px 0 52px;

    .wrapper {
        grid-gap: 23px 0;
        grid-template-columns: 592px;
        justify-content: center;
        width: 690px;

        .image {
            grid-column: 1;
            height: 295.91px;
        }

        h1 {
            grid-row: 1 / 2;
            margin-left: 2px;
            transform: translate(-4px, -2px);
        }

        .grid {
            grid-gap: 21.4px 14px;
            grid-template-columns: repeat(5, 1fr);
            height: 100.9px;

            figure:nth-child(n+6) {
                display: none;
            }
        }
    }
}
