$color-1: #FFFFFF;
$color-2: #DBDBDB;
$color-3: #898989;
$color-4: #222222;
$color-5: #EEEEEE;
$color-6: #111111;
$color-7: #DBDBDB;
$color-8: #414141;
$color-9: #FFFFFF;
$color-10: #F2656A;
$color-11: #ED1C24;
$color-12: #F69397;
$color-13: #FF4242;
$color-14: #FEFEFE;
