.overview {
    height: 602px;
    background: $color-1;
    text-align: center;

    div {

        &.wrapper {
            width: 271px;

            &::before {
                display: none;
            }

            .gallerypics {
                display: none;
            }

            .text {
                left: 0;
                width: 100%;

                .wrap {
                    width: 271px;
                    margin-top: 38px;
                    margin-left: 1px;
                    padding-top: 0;
                    padding-left: 0;

                    h1 {
                        margin-bottom: 22px;
                        margin-left: -4px;
                        font-size: 24px;
                        line-height: 28.8px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 30px;

                        &:first-of-type {
                            margin-bottom: 23px;
                            padding: 0 .1px;
                        }

                        &.bottom {
                            padding-right: 0;
                        }
                    }

                    .description {
                        width: 100%;
                        margin-bottom: -11px;
                        column-count: 1;

                        p {

                            &:first-child {
                                width: 100%;
                                margin-right: 0;
                                margin-bottom: 14px;
                            }

                            &:last-child {
                                width: 100%;
                                margin-left: -2px;
                            }
                        }
                    }
                }
            }
        }
    }
}
