.overview {
    height: 472px;
    background-color: $color-1;

    div {

        &.wrapper {
            width: 690px;

            &::before {
                display: none;
            }

            .gallerypics {
                display: none;

                div {
                    display: none;
                }
            }

            .text {
                left: 0;
                width: 100%;

                .wrap {

                    p {
                        margin-left: 1px;
                        padding-right: 6px;

                        &.bottom {
                            padding-right: 55px;
                        }
                    }

                    .description {

                        p {

                            &:last-of-type {
                                margin-left: -42px;
                            }
                        }
                    }
                }
            }
        }
    }
}
