@import '../../palette';

.info {
    display: relative;
    width: 100%;
    height: 484px;
    background-color: $color-5;

    .wrapper::before {
        content: ' ';
        position: absolute;
        height: 100%;
        background-color: $color-6;
    }

    .background {
        position: absolute;
        z-index: 1;

        img {
            display: none;
            width: 100vw;
            height: 422px;
            object-fit: cover;

            &.active {
                display: block;
            }
        }
    }

    .bottom {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        height: 62px;
        overflow: hidden;
        background-color: $color-7;

        .wrapper {
            display: flex;
            justify-content: flex-end;

            &::before {
                left: 350px;
                width: 2000px;
            }

            .control {
                display: flex;
                z-index: 1;
                flex-direction: row;
                width: 118px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 58px;
                    height: 100%;
                    padding-top: 3px;
                    border-right: solid 1px $color-8;
                    border-left: solid 1px $color-8;

                    &:last-child {
                        border-left: none;
                    }

                    &.left {

                        &::before {
                            content: url(../../../images/info/Left.png);
                        }

                        &:hover {

                            &::before {
                                content: url(../../../images/info/Lefthover.png);
                            }
                        }
                    }

                    &.right {

                        &::before {
                            content: url(../../../images/info/Right.png);
                        }

                        &:hover {

                            &::before {
                                content: url(../../../images/info/Righthover.png);
                            }
                        }
                    }
                }
            }
        }
    }

    .top {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 422px;

        .wrapper {
            display: flex;
            position: relative;
            z-index: 2;

            .nav {
                position: relative;
                width: 350px;
                height: 100%;
                padding-top: 26px;
                padding-left: 33px;
                background-color: $color-11;
                color: $color-9;

                .exhibition {
                    display: flex;
                    margin-bottom: 45px;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 45px;
                        height: 45px;
                        border-width: 3px;
                        border-style: solid;
                        border-color: $color-9;
                        font-size: 32px;
                        font-weight: bold;

                        &::before {
                            content: 'E';
                        }
                    }

                    h1 {
                        margin-top: 5px;
                        margin-left: 7px;
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: -.3px;
                        text-transform: uppercase;
                    }
                }

                .photography {
                    display: inline-block;
                    margin-bottom: 3px;
                    padding: 2px 10px;
                    background-color: #111111;
                    font-size: 10px;
                    line-height: 18px;
                    text-transform: uppercase;
                }

                .content {
                    margin-left: 4px;
                    font-weight: bold;

                    div {

                        &.textwrap {
                            position: relative;
                            width: 277px;
                            margin-bottom: 17px;
                            padding-bottom: 16px;

                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                width: 280px;
                                height: 1px;
                                background-color: $color-10;
                            }

                            &:nth-child(2) {
                                margin-bottom: 20px;
                                margin-left: -2px;
                                padding-bottom: 20px;
                            }
                        }
                    }

                    .admission {
                        display: flex;
                        color: $color-9;
                        font-size: 18px;
                        font-weight: normal;
                        text-decoration: none;
                        text-transform: uppercase;

                        div {
                            margin-top: -2px;
                            margin-right: 8px;
                            margin-left: -3px;

                            &::before {
                                content: url(../../../images/info/Shape12.png);
                            }
                        }
                    }

                    .footericons {
                        display: flex;
                        position: absolute;
                        right: 0;
                        bottom: 0;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 43.5px;
                            height: 43px;
                            border-top: 1px $color-12 solid;
                            border-left: 1px $color-12 solid;

                            &.eye {

                                &::before {
                                    content: url(../../../images/info/Eye.png);
                                }

                                &:hover {

                                    &::before {
                                        content: url(../../../images/info/Eyehover.png);
                                    }
                                }
                            }

                            &.image {

                                &::before {
                                    content: url(../../../images/info/Image.png);
                                }

                                &:hover {

                                    &::before {
                                        content: url(../../../images/info/Imagehover.png);
                                    }
                                }
                            }

                            &.marker {

                                &::before {
                                    content: url(../../../images/info/Marker.png);
                                }

                                &:hover {

                                    &::before {
                                        content: url(../../../images/info/Markerhover.png);
                                    }
                                }
                            }
                        }
                    }

                    h2 {
                        font-size: 22px;
                        letter-spacing: -.7px;
                        line-height: 26px;
                    }

                    h1 {
                        font-size: 26px;
                        letter-spacing: -1.2px;
                        line-height: 26px;
                        text-transform: uppercase;
                    }

                    p {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 20px;
                    }
                }
            }

            .menu {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 63px;
                height: 59px;
                background-color: $color-6;

                &::before {
                    content: url(../../../images/info/Iconcopy.png);
                }
            }
        }
    }
}
