.info {

    .background {

        img {
            height: 425px;
        }
    }

    .top {
        height: 425px;

        .wrapper {
            width: 271px;

            .nav {
                position: relative;
                width: 271px;
                background-color: $color-13;

                .exhibition {
                    margin-bottom: 57px;

                    .icon {
                        width: 36px;
                        height: 36px;
                        margin-left: -6px;
                        font-size: 26px;
                    }

                    h1 {
                        font-size: 14px;
                        letter-spacing: -.1px;
                    }
                }

                .content {

                    div {

                        &.textwrap {
                            width: 200px;

                            p {
                                font-size: 14px;
                                line-height: 20px;
                            }

                            &::after {
                                width: 100%;
                            }
                        }
                    }

                    .admission {
                        font-size: 16px;
                    }
                }

                .footericons {
                    left: 50%;
                    transform: translateX(-49%);

                    a {
                        width: 44.5px;

                        &:last-of-type {
                            width: 44.5px;
                            border-right: solid 1px $color-12;
                            border-bottom: none;
                        }
                    }
                }
            }

            .menu {
                position: absolute;
                top: 14px;
                right: 0;
            }
        }
    }

    .bottom {

        .wrapper {
            width: 271px;

            &::before {
                left: -1000px;
            }

            .control {
                display: none;
            }
        }
    }
}
