* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

section {
    font-family: 'Montserrat', sans-serif;

    &.component1 {
        overflow: hidden;

        .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #EEEEEE;

            div {

                &.mainbanner {

                    .info {
                        display: flex;
                        width: 100%;
                        background-color: #EEEEEE;

                        .nav {
                            width: 350px;
                            height: 425px;
                            padding-top: 50px;
                            padding-left: 50px;
                            background-color: #ED1C24;
                            color: #FFFFFF;

                            .exhibition {
                                display: flex;

                                .icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 45px;
                                    height: 45px;
                                    border-width: 3px;
                                    border-style: solid;
                                    border-color: #FFFFFF;
                                    font-size: 32px;
                                    font-weight: bold;
                                }

                                h1 {
                                    font-size: 18px;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                            }

                            .photography {
                                display: inline-block;
                                padding: 0 15px;
                                background-color: #111111;
                                font-size: 10px;
                                line-height: 18px;
                                text-transform: uppercase;
                            }

                            .content {

                                h2 {
                                    font-size: 22px;
                                    line-height: 26px;
                                }

                                h1 {
                                    font-size: 26px;
                                    line-height: 26px;
                                    text-transform: uppercase;
                                }

                                p {
                                    font-size: 16px;
                                    line-height: 20px;
                                }
                            }
                        }
                    }

                    .menuicon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 63px;
                        height: 59px;
                        background-color: #111111;
                    }
                }
            }
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #D8D8D8;

            .bannercontrols {
                display: flex;
                width: 100%;
                height: 65px;
                background: #D8D8D8;

                .controls {
                    width: 2000px;
                    height: 100%;
                    margin-left: 350px;
                    background-color: #111111;
                }

                .arrowbackground {
                    display: flex;
                    justify-content: flex-end;
                    height: 100%;

                    .arrows {
                        display: flex;
                        height: 100%;

                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 56px;
                            height: 100%;
                            border-right: 1px solid #414141;
                            border-left: 1px solid #414141;

                            &:last-of-type {
                                border-left: none;
                            }
                        }
                    }
                }
            }
        }
    }

    &.component2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #D8D8D8;

        div {

            &.gallerypics {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 350px;
                height: 500px;
                background-color: #898989;
            }

            &.overview {
                position: absolute;
                left: 350px;
                width: 2000px;
                height: 523px;
                background-color: #FFFFFF;

                .wrap {

                    .description {
                        display: flex;
                    }
                }
            }
        }
    }
}

.wrapper {
    display: flex;
    position: relative;
    width: 1003px;
}
