* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    padding-left: 14.3vw;

    &.component1 {

        div {

            &.mainbanner {

                .info {
                    display: flex;
                    width: 100%;
                    background-color: #EEEEEE;

                    .nav {
                        width: 350px;
                        min-width: 100px;
                        height: 425px;
                        background-color: #ED1C24;
                    }
                }

                .menuicon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 63px;
                    height: 59px;
                    background-color: #111111;
                }
            }

            &.bannercontrols {
                width: 100%;

                .arrowbackground {
                    height: 65px;
                    background-color: #111111;
                }
            }
        }
    }

    &.component2 {
        display: flex;

        div {

            &.gallerypics {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 350px;
                height: 500px;
                background-color: #898989;
            }

            &.overview {
                width: 60vw;
                height: 523px;
                background-color: #FFFFFF;

                .wrap {
                    max-width: 600px;

                    .description {
                        display: flex;
                    }
                }
            }
        }
    }
}
